<div class="footer">
  <div class="footer-content">
    <h3></h3>
    <p></p>
    <ul class="socials">
      <span
        ><img class="social-media-icon" src="./images/instagram.png"
      /></span>
      <span><img class="social-media-icon" src="./images/twitter.png" /></span>
      <span><img class="social-media-icon" src="./images/facebook.png" /></span>
      <span><img class="social-media-icon" src="./images/whatsapp.png" /></span>
    </ul>
  </div>
  <div class="center-footer">
    <p>Eda Ekeyilmaz - 8823564</p>
    <p>Namitha Chevari - 8817006</p>
  </div>
  <div class="footer-bottom">
    <!-- <a href="#">Eda Ekeyilmaz - 8823564 || Namitha Chevari - 8817006   </a> -->
    <p>copyright © <a href="#">HomeDecor - Data Queens</a></p>
  </div>
</div>
