/* // Eda Ekeyilmaz - 8823564
// Namitha Chevari - 8817006 */

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  /* background-image: linear-gradient(43deg, #d547f1 0%, #1b7983 100%); */
  background-color: azure;
  margin: 0px;
  background-size: 100% 110%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}
.footer {
  height: 50px;
}
form {
  width: 100%;
  margin-top: 5%;
}
.topnav {
  margin-right: 5%;
  margin-top: 20px;
  overflow: hidden;
}

.topnav a {
  float: right;
  /* color: #f2f2f2; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.blue-color {
  color: #007bff;
}
.topnav-left {
  float: left !important;
  margin-left: 20px !important;
}
.logo-header {
  margin-left: 20px !important;
  left: 0px !important;
}
.topnav a:hover {
  text-decoration: underline !important;
  color: white !important;
}
a:hover {
  color: white;
}
nav {
  box-shadow: 0px 0px 10px rgb(0 0 0);
  padding: 5px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #152238;
  color: #fff;
}

.navbar-left {
  flex: 1;
  margin-left: 20px;
}

.navbar-right {
  display: flex;
  top: 100%;
  align-items: center;
}
.navbar-right.show a {
  display: block;
  padding: 10px;
}
.navbar-right a {
  margin: 0 10px;
}
.dropdown {
  position: relative;
  margin: 0 10px;
}

.dropbtn {
  background-color: #333;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #333;
  color: #fff;
}

.dropdown-content a {
  display: block;
  padding: 10px;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#logo {
  width: 130px;
  height: 130px;
}
nav .logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 10px auto;
}
h1 {
  text-align: center;
  padding: 40px;
}
.home-h1 {
  margin-top: 8%;
  font-size: 3rem;
  margin-bottom: 6%;
  color: #152238;
}
.row {
  width: 60%;
  margin-left: 20%;
}

.table {
  border: #007bff solid 3px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

/* Footer start */
.footer {
  background: #152238;
  margin-top: 3rem;
  padding-top: 1rem;
  color: #fff;

  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: calc(2rem + 1vw);
  line-height: calc(3rem + 1vw);
  font-weight: 500;
  text-transform: capitalize;
}
.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  font-size: calc(0.8rem + 0.5vw);
  line-height: calc(1.5rem + 1vw);
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}
.footer-bottom {
  background: #152238;
  padding: 1rem;
  padding-bottom: 4rem;
  text-align: center;
  margin-left: 39%;
}
.footer-bottom p {
  float: left;
  font-size: calc(0.8rem + 0.5vw);
  line-height: calc(1.5rem + 1vw);
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a {
  color: #007bff;
  font-size: calc(0.8rem + 0.5vw);
  line-height: calc(1.5rem + 1vw);
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}
.social-media-icon {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1rem;
}

.button-top {
  margin-top: 20px;
}

.center-footer {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
}
.hamburger {
  display: none;
}
/* MOBILE VERSION */
@media screen and (min-device-width: 320px) and (max-device-width: 600px) {
  table thead {
    display: none;
  }
  table,
  tbody,
  td,
  tr {
    display: block;
    width: 100%;
  }
  /* Set table cell styles */
  td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  .row {
    width: 95%;
    margin: 10px;
  }
  .footer-bottom {
    margin-left: 7% !important;
  }
  .table {
    border: none;
  }
  tr {
    margin-bottom: 60px;
  }
  .topnav-left {
    float: left !important;
    margin-left: 15% !important;
    font-size: 40px !important;
  }
  .topnav a {
    font-size: 22px;
    padding: 5px;
  }
  .topnav {
    margin-right: 0;
  }
  h1 {
    margin-top: 25px;
    padding-bottom: 20px !important;
    font-size: 3rem;
  }
  .menu-row {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-left: 4%; */
  }
  .font-size-row {
    width: 100%;
    display: flex;
    justify-content: center;
    /* margin-top:20px; */
  }
  table tr:nth-child(odd) td {
    background-color: #a5d5d6b8;
  }

  table tr:nth-child(even) td {
    background-color: #a5d5d6b8;
  }
  td a {
    width: 100%;
  }
  .btn-info,
  .btn-primary {
    width: 90% !important;
  }
  .navbar-left,
  .navbar-right {
    flex-direction: column;
    align-items: center;
  }

  .navbar {
    display: flex;
    align-items: center;
    background-color: #152238;
    color: #fff;
    flex-direction: column;
    margin: 10p;
    /* padding: 20px; */
  }
  .navbar-left {
    flex: 1;
    margin-left: 20px;
    margin: 40px auto;
  }

  .navbar-right {
    display: none;
  }
  .navbar-left a {
    font-size: 36px !important;
  }
  .navbar-right.show {
    display: flex;
    flex-direction: column;
  }

  .navbar-right.show a,
  .dropdown {
    margin: 0;
  }
  .dropdown {
    padding-bottom: 10px;
  }
  .dropdown-content {
    position: static;
    display: none;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .hamburger {
    display: table-footer-group;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    float: right;
    position: fixed;
    top: 10px;
    right: 10px;
  }

  .hamburger-icon {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: relative;
    margin-top: 5px;
  }

  .hamburger-icon::before,
  .hamburger-icon::after {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
  }

  .hamburger-icon::before {
    top: -7px;
  }

  .hamburger-icon::after {
    bottom: -7px;
  }

  .hamburger.active .hamburger-icon {
    transform: rotate(45deg);
  }

  .hamburger.active .hamburger-icon::before {
    top: 0;
    transform: rotate(90deg);
  }

  .hamburger.active .hamburger-icon::after {
    bottom: 0;
    transform: rotate(90deg);
  }
}

/* TABLET VERSION */
@media screen and (min-device-width: 601px) and (max-device-width: 1024px) {
  .row {
    width: 98% !important;
    margin-left: 1% !important;
  }
  .footer-bottom {
    margin-left: 30%;
  }
  .topnav-left {
    float: left !important;
    margin-left: 33% !important;
    font-size: 45px !important;
  }
  .topnav a {
    font-size: 26px;
  }
  h1 {
    margin-top: 25px;
    font-size: 3.1rem;
  }
  .menu-row {
    width: 92%;
    margin-left: 5%;
    margin-bottom: 2%;
  }
  .font-size-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-left: 5%;
  }
  .row > .add-button {
    width: 50px;
  }
  .table {
    border: #dee2e6 solid 3px;
    box-shadow: 0px 0px 10px #7f8992;
  }
  .navbar{
    padding-top: 45px;
  }
  .navbar-left a {
    font-size: 35px !important;
    text-align: center;
    margin-left: 33%;
  }
}
